*{
    margin:0px;
    padding:0px;
    font-family: helvetica;;
}
div#banner{
    width:100%;
    height: 350px;
    background-color:black ;
}
img#img_banner{
    display:block;
    margin: auto;
    width: auto%;
    height: 350px;
    max-width 688px; 
    min-width: 500px
}

body{
    background-color: #2A2F2E;
}
h1 {
    font-family: "Consolas", monospace;
    text-align: center;
    margin-right; 100%
    padding-top: 400px

}




